/**
* Anax Flat theme.
*/
//@import url(modules.less);
@import url(style.less);

//darker A75E00
// @back-color:#092461;
// @footer-color:#8E0007;
// @navBar-button-color:#8C9000;//röd #AC0B1;
// @site-logo-color:#DF474F;
// @text-color:#3B5798;
//
// .outer-wrap-footer { //.site-footer - bara längst ner
//     color: @site-logo-color;
// }
// @navbarItemColor: #DEE248;

// @back-color:#092461;
// @footer-color:#8E0007;
// @navBar-button-color:#8C9000;//röd #AC0B1;
// @site-logo-color:#DF474F;
// @text-color:#3B5798;
//
// .outer-wrap-footer { //.site-footer - bara längst ner
//     color: @site-logo-color;
// }
// @navbarItemColor: #DEE248;

@back-color:#FF9000;
@footer-color:#D97B00;
@navBar-button-color:#D97B00;
@site-logo-color:#FFC170;
@text-color:#FFD7A4;
